<h1>Job dashboard</h1>

<%= link_to "See all jobs listed by city", jobs_path(sort: "location") %><br />

<%= link_to "See all jobs listed by level of interest", jobs_path(sort: "interest") %><br />

<%= link_to "See all companies", companies_path %><br />

<%= link_to "Back to homepage", '/' %>

<h4>- Count of jobs by level of interest:</h4>
<ul>
<% @jobs_by_interest.each do |interest, ocurrence| %>
<li>Level of interest: <%= interest%> (<%= ocurrence%>)</li>
<% end %>
</ul>

<h4>- Top 3 companies in level_of_interest and average:</h4>
<ol>
<% @top_companies.each do |company| %>
<li><%= company %><br/></li>
<% end %>
</ol>

<h4>- Number of jobs per location:</h4>
<ul>
  <% @jobs_by_city.each do |city, ocurrence| %>
  <li><%= link_to city, jobs_path(location: city) %>: <%= ocurrence %></li>
  <% end %>
</ul>
