<% if @company %>
All Jobs for <strong><%= @company.name %></strong>
<% end %>

<ul>
<% @jobs.each do |job| %>
  <li><%= link_to job.title, company_job_path(@company, job) %> at <%= job.company.name %> | <%= job.city %></li>
<% end %>
</ul>

<h3> Contacts </h3>
<%= render partial: 'jobs/contact', collection: @company.contacts %>

<%= render partial: 'contacts/form' %>
